streamlit>=1.35.0
pandas
scikit-learn
openai>=1.0.0
openpyxl
xlsxwriter
PyPDF2==3.0.1
groq
graphviz
streamlit-mermaid
streamlit_agraph
google-auth
google-auth-httplib2
fpdf2
requests
python-docx
qrcode[pil]
langchain
langchain-openai
langchain-community
faiss-cpu
tiktoken
plotly
pygwalker
seaborn
matplotlib
Pillow
